<div class="container">
  <Div class="mb-3 float-end">
    <button class="btn btn-primary" routerLink="/create">
      Add Entry <i class="fa-solid fa-plus"></i>
    </button>
  </Div>
  <table class="table table-primary table-bordered">
    <thead class="text-center">
      <tr>
        <th>vehicle Name</th>
        <th>Driver Name</th>
        <th>Phone Number</th>
        <th>Passing Time</th>
        <th>Edit</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of vehicles">
        <td>{{ item.vechicleNo }}</td>
        <td>{{ item.driverName }}</td>
        <td>{{ item.driverPhoneNo }}</td>
        <td>{{ item.passingTime }}</td>
        <td>
          <a [routerLink]="['/updatevehicle', item.id]">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="delete(item.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
